:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-self: center;
    font-size: larger ;
  }
  
  div {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
  
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  