<div fullscreen>
    <h1>Add Booking</h1>
    
      <form [formGroup]="bookingForm" (ngSubmit)="addBooking()">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="bookingStart" type="date" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput formControlName="bookingEnd" type="date" required/>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create Booking</button>
      </form>
    </div>
    