@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-sidenav {
  background: #e0e0e0;
  border: 0px;
  button {
    width: 150px;
    font-size: 20px;
  }
}

.example-sidenav-toggle {
  background: #8a8a8a;
  border-radius: 0px;
}

button {
  overflow: hidden;
}
