h1 {
    text-align: center;
    margin: 4rem;
    background-color: lightgrey;
    border-radius: 20px;
    font-weight: 900;
  }
  
  .mat-elevation-z8 {
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    justify-content: center;
  }
  
  .tableHead {
    background-color: lightgray;
  }
  
  
  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-self: center;
    padding-bottom: 10px;
  
  }
  div {
    border: 5px solid #000000;
    height: 20vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    justify-self: center;

  }
  .mat-button-toggle-group {
    margin-right: 10px;
  }
  .listing-container {
    margin: 30px;
    border: 5px solid #708b75;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    vertical-align: middle;
    justify-self: center;
  }
  
  
  button {
    height: 40px;
    width: 15%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  
  }
  