<div fullscreen>
    <h1>Sign Up</h1>
  
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <mat-form-field appearance="fill">
        <input matInput formControlName="username" required placeholder="Enter username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput formControlName="firstname" required placeholder="Enter First Name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput formControlName="lastname" required placeholder="Enter Last Name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput formControlName="email" required placeholder="Enter Email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput type="password" formControlName="password" required placeholder="Enter Password"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select required formControlName="type">
          <mat-option value="Customer">Customer</mat-option>
          <mat-option value="Admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
  
  </div>